﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li> Ph.D. - Computer Information Systems - Nova Southeastern University - Fort Lauderdale, FL (2015)</li>
    <ul><li> Locating Potential Aspect Interference Using Clustering Analysis</li></ul>
    <li>M.S. - Computer Science - East Tennessee State University - Johnson City, TN (2004)</li>
    <li>B.S. - Computer Science - East Tennessee State University - Johnson City, TN (2001)</li>
</ul>
<h4>Research Interests</h4>
<ul>
    <li>
        Software Engineering
    </li>
    <li>
        Methodology
    </li>
    <li>
        Project Management
    </li>
    <li>
        Configuration Management
    </li>
    <li>
        Implementation Issues
    </li>
    <li>
        Aspect-Oriented Software Development
    </li>
    <li>
        Metrics
    </li>
    <li>
        Interference Problems
    </li>
    <li>
        Visualization
    </li>
    <li>
        Source Code Analysis and Mining
    </li>
    <li>
        Artificial Intelligence Techniques
    </li>
    <li>
        Unsupervised and Supervised Machine Learning
    </li>
    <li>
        Natural Language Processing
    </li>
    <li>
        Computer Science Education
    </li>
    <li>Data Mining</li>
</ul>
