﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>
<ul>
    <li>Senior at ETSU</li>
    <li>Computer Science - Information Systems concentration</li>
</ul>

<h4>Career Interests</h4>
<ul>
    <li>Analyst</li>
    <li>Business Process Integration Specialist</li>
    <li>SAP Consultant</li>
    <li>SAP Code Monkey</li>
</ul>
