﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li>B.S. - Computer Science - East Tennessee State University - Johnson City, TN (2019)</li>
</ul>
<h4>About Me</h4>
<p>
    I am a senior at East Tennessee State University studying Computer Science with a concentration in Computer Science. Currently, I have an internship at Nuclear Fuel Services in Erwin, TN as a software developer intern. I enjoy making things that enhance everyday life, whether it be an automated light switch,
    smart mirror, or some software. I also enjoy beating on my drums and slapping my bass for fun.
</p>
<p>For a career, I would love to develop software.</p>
