﻿@{
    ViewData["Title"] = "Students Page";
}
<h1>@ViewData["Title"]</h1>
<h2>CSCI 3250-090 - Summer 2018</h2>
<h3>Class List</h3>

<ol>
    <li><a href="/Students/Bennett">Brian Bennett, PhD</a></li>
</ol>