﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>
<ul>
    <li> Student - Computer Science - Concentration in IT</li>
    <li> Intern / Full Time employee at the AAM Group in Piney Falts</li>
</ul>

<h4>Languages and Skills</h4>
<ul>
    <li>
        Php - Codeigniter, Leravel
    </li>
    <li>
        SQL / PLSQL
    </li>
    <li>
        C# - Visual Studios
    </li>
    <li>
        Javascript / JQuery
    </li>
    <li>
        HTML / CSS / Sass
    </li>
    <li>
        Photoshop
    </li>
</ul>

<h4>Career Goals</h4>
<p> I'd like to land a true full time job working for AAM as a web developer for 2+ years and then move to a larger city and continue web development. I'd like to dabble into Python and C++ to potentially play around with gane development though that's not my full time career interest.</p>
