﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Biography:</h4>
    <p>This is the profile page for Tristan Onek (Junior, ETSU).</p>
<h4>Education:</h4>
<ul>
    <li>B.S. - Computing (East Tennessee State University)</li>
</ul>
<h4>Career Interests:</h4>
<ul>
    <li>Server-side programming</li>
    <li>Systems analysis</li>
    <li>Data science</li>
    <li>Research/academia</li>
</ul>