﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
	<li>B.S. - Computer Science - East Tennessee State University - Johnson City, TN (Present)</li>
	<li>A.S. - Computer Engineering - Mayland Community College - Spruce Pine, NC (2016)</li>
	<li>A.S. - Electronic Engineering - Mayland Community College - Spruce Pine, NC (2016)</li>
</ul>
<h4>Career Interests</h4>
<ul>
	<li>
		Backend Development
	</li>
    <li>
        Optimization Techniques
    </li>
    <li>
        Software Design
    </li>
    <li>
        Software Engineering
    </li>
    <li>
        Softare Testing
    </li>
</ul>
