﻿
@{
    ViewData["Title"] = "Snoddy";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>

<h4>Education</h4>

<ul>
    <li>AAS Computer Science - Northeast State Community College (2017)</li>
    <li>BaS Computer Science - East Tennessee State University (2019)</li>
</ul>

<h4>About Me</h4>
<ul>
    <li>Concentration: Computer Science--Information Technology</li>
    <li>Career Interests: I would love to work for a company that allows me to help businesses become more efficient.</li>
</ul>
