﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Concentration</h4>

<ul>
    <li>Information Technology</li>
</ul>

<h4>Career Interests</h4>
<ul>
    <li>
        Software Development
    </li>
    <li>
        Web Design
    </li>
    <li>
        Web Development
    </li>
</ul>


