﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li>B.S. - Computer Science - East Tennessee State University - Johnson City, TN (2019)</li>
</ul>
<h4>About Me</h4>
<p>
    I am a senior at East Tennessee State University studying Computer Science with a concentration in Information Technology, I love sports and playing video games.
</p>
<p>Like working with hardware</p>
