﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>

<ul>
    <li>B.A. - English - East Tennessee State University - 2013</li>
    <li>M.A. - Literature - East Tennessee State University - 2015</li>
    <ul><li>Encounters with the American Prairie: Realism, Idealism, and the Search for the Authentic Plains in the Nineteenth Century</li></ul>
    <li>B.S. - Computer Science - East Tennessee State University - Ongoing</li>
</ul>
<h4>Career Interests</h4>
<ul>
    <li>
        Software Development and Architecture
    </li>
    <li>
        Code Optimization
    </li>
    <li>
        Artificial Intelligence
    </li>
    <li>
        Data Mining
    </li>
    <li>
        Simulation Software
    </li>
    <li>
        Natural Language Processing
    </li>
</ul>
